# Ignore virtual environment
.venv/

# Ignore all data under res/ and src/res/ recursively, but allow any .gitkeep files
# This keeps empty directories tracked via .gitkeep while ignoring all other files.
# !/res/**/.gitkeep

# If there is a res folder inside src, apply the same rule
/src/res/**
res/**
!res/**/.gitkeep

# Ignore logs directory (contains runtime logs)
/logs/

# Resources
